
li {
    font-family: Satisfy;
    font-size: x-large;
    color: white;
}

a {
    color: aliceblue;
}

    a:hover {
        color: yellow
    }


::-webkit-scrollbar {
    display: none;
}

body {
    background-image: url(Registration_Bg_Image.jpg);
    background-size: cover;
}

section {
    opacity: 0.8;
}

h2 {
    text-align: center;
    font-family: Satisfy;
    background-color: #17005e;
    color: white;
    font-size: xx-large;
    position: relative;
    height: 8vh;
}

td {
    width: 57%;
    text-align: center;
}

th {
    text-align: center;
}

td, th {
    border: 2px solid;
}

img {
    border: 3px solid black;
    width: 30%;
    max-width: 50%;
}

#UpdateDeleteCourse {
    height: 70vh;
    overflow-y: scroll;
}
