<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Satisfy">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/admin/addcourse.css" rel="stylesheet" />
    <script src="~/js/admin/addcourse.js"></script>
</head>
<body>
    <!--Nav Bar-->
    <div id="navBar">
        <nav class="navbar navbar-expand-lg " style="background-color: #17005e;">
            <a class="navbar-brand" href="#" style="color: white;font-variant-caps: all-small-caps;font-weight: 600;"><h1 style="font-family: Satisfy;font-weight: 700;font-size:xx-large;">Adhyayan</h1></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" style="background-color: #17005e;color: white;">
                <span class="navbar-toggler-icon"><i class="fa fa-bars" style="font-size:24px"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="background-color: #17005e;">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" asp-action="AdminDashboard" asp-controller="Admin">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AddCourse" asp-controller="Admin">Add Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="AddWebinar" asp-controller="Admin">Add Webinar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="ContactFeedback" asp-controller="Admin">Contact Feedback</a>
                    </li>
                    <li class="nav-item" style="float: right;">
                        <a class="nav-link" onclick="Logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!--Add Course-->
    <br>
    <br>
    <section class="text-center">
        <!-- Background image -->
        <div class="p-5 bg-image" style="
          height: 10px;
          "></div>
        <!-- Background image -->

        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
          margin-top: -100px;
          background: hsla(0, 0%, 100%, 0.8);
          backdrop-filter: blur(30px);
          ">
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h2>Add Course</h2>
                        <form method="post" enctype="multipart/form-data" id="uploadForm">
                            <!-- 2 column grid layout with text inputs for the first and last names -->

                            <table>
                                <tr>
                                    <td><img src="~/localimages/pexels-donald-tong-66134.jpg" /></td>
                                    <td><input type="file" name="files" id="fileInput" class="form-control" multiple /></td>
                                </tr>
                            </table>


                            <br>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="CourseName" class="form-control" placeholder="Course Name" />
                                    </div>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <input type="text" id="Price" class="form-control" placeholder="Price" pattern="[0-9]*" title="Numbers Only" />
                                    </div>
                                </div>
                            </div>


                            <div class="form-outline mb-4">
                                <input type="text" id="Instrcutor" class="form-control" placeholder="Instructor" />
                            </div>


                            <div class="form-outline mb-4">
                                <input type="text" id="Description" class="form-control" placeholder="Description" />
                            </div>


                            <!-- Submit button -->
                            <button  class="btn btn-primary btn-block mb-4" onclick="AddCourse();" type="button">
                                Add Course
                            </button>

                        </form>
                    </div>
                </div>


            </div>
        </div>
    </section>



</body>
</html>