li {
    font-family: Satisfy;
    font-size: x-large;
    color: white;
}

a {
    color: aliceblue;
}

    a:hover {
        color: yellow
    }

#Webinars {
    text-align: center;
    border: 3px solid;
    position: relative;
    top: 5%;
    background-color: #17005e;
    color: white;
    height: 8vh;
    font-family: Satisfy;
}

#Courses {
    text-align: center;
    border: 3px solid;
    position: relative;
    top: 40%;
    background-color: #17005e;
    color: white;
    height: 8vh;
    font-family: Satisfy;
}

.card {
    background-color: rgba(255, 255, 255, 0.577);
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    overflow: scroll;
    height: 30vh;
}

#CardData {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    white-space: nowrap;
}

.row {
    flex-wrap: nowrap;
}

.container {
    margin: 1px;
}

::-webkit-scrollbar {
    display: none;
}

.scrolling-container {
    overflow: scroll;
    white-space: nowrap;
}



.card-text {
    white-space: initial;
    text-overflow: ellipsis;
}

#para {
    overflow-y: scroll;
    height: 13vh;
    font-size: medium;
    clear: both;
}

h3 {
    font-weight: bold;
}


#instructorDiv {
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    height: 20vh;
    position: relative;
    text-align: center;
    color: white;
    font-family: Roboto;
}

h2 {
    font-size: 40px;
}

p {
    font-size: inherit;
}

#courseDesc h1, #x {
    text-align: center;
    font-family: Roboto;
    background-color: #17005e;
    color: white;
    font-size: xx-large;
    height: 8vh;
}

h4 {
    font-family: Satisfy;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
    text-decoration: double;
    text-overflow: ellipsis;
}

#courseVideos {
    border: 3px inset rgb(15, 5, 104);
    height: 50vh;
}

label {
    border: 3px solid black;
    border-radius: 5px;
    padding: 3px;
    font-size: large;
    text-align: center;
    font-family: 'Fira Sans';
    font-weight: bold;
    height: 30vh;
    overflow-y: scroll;
}


#indiviualVideo video {
    border: 3px solid black;
    height: 30vh;
}

#VideoDetails {
    position: relative;
    text-align: center;
}

td {
    overflow-y: scroll;
    font-family: 'Fira Sans';
    font-weight: 900;
    height: 0vh;
    width: 1%;
    border: 1px solid;
    border-radius: 5px;
}

th {
    font-family: 'Fira Sans';
    font-weight: bolder;
    font-size: x-large;
    border: 1px solid;
    border-radius: 5px;
}

h6 {
    font-weight: bolder;
}

div#button {
    border: 3px solid #17005e;
    height: 13vh;
    background-color: #17005e;
}

#payButton {
    background: transparent;
    border-radius: 8px;
    color: white;
    font-family: 'Satisfy';
    font-size: xx-large;
    border: 5px solid white;
}

#PriceLabel {
    padding: 3px;
    font-size: large;
    text-align: center;
    font-family: 'Fira Sans';
    font-weight: bold;
    height: 30vh;
    float: right;
    font-size: x-large;
    color: white;
    font-family: 'Satisfy';
    border:none;
}