li {
    font-family: Satisfy;
    font-size: x-large;
    color: white;
}

a {
    color: aliceblue;
}

    a:hover {
        color: yellow
    }

#Webinars {
    text-align: center;
    border: 3px solid;
    position: relative;
    top: 5%;
    background-color: #17005e;
    color: white;
    height: 8vh;
    font-family: Satisfy;
}

#Courses {
    text-align: center;
    border: 3px solid;
    position: relative;
    top: 40%;
    background-color: #17005e;
    color: white;
    height: 8vh;
    font-family: Satisfy;
}

.card {
    background-color: rgba(255, 255, 255, 0.577);
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    overflow: scroll;
    height: 30vh;
}

#CardData {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 100%;
    white-space: nowrap;
}

.row {
    flex-wrap: nowrap;
}

.container {
    margin: 1px;
}

::-webkit-scrollbar {
    display: none;
}

.scrolling-container {
    overflow: scroll;
    white-space: nowrap;
}



.card-text {
    white-space: initial;
    text-overflow: ellipsis;
}

#para {
    overflow-y: scroll;
    height: 13vh;
    font-size: medium;
    clear: both;
}

h3 {
    font-weight: bold;
}
